
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{          
    background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p, h1,button{
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;       
}

.button_link{
    background: #DB3030;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: pointer ;
}

.container{    
    margin-top: 170px;
    margin-left: 80px;
    max-width: 600px;
    padding-bottom: 15px;    
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}


